alabaster==1.0.0
apparmor==4.1.6
application-utility==1.4.0
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
btrfsutil==6.19
build==1.4.0
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
configobj==5.0.9
cryptography==46.0.5
cupshelpers==1.0
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
docutils==0.22.3
duplicity==3.0.7
fasteners==0.20
filelock==3.24.0
gufw==26.4.0
idna==3.11
imagesize==1.4.1
iniconfig==2.1.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
layoutswitcherlib==0.8.39
legacy-cgi==2.6.4
lensfun==0.3.4
LibAppArmor==4.1.6
libfdt==1.7.2
lit==21.1.8.dev0
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.10.2
MarkupSafe==3.0.2
meson==1.10.1
more-itertools==10.8.0
mysql-connector-python==9.6.0
mysqlx-connector-python==9.6.0
netsnmp-python==1.0a1
nftables==0.1
npyscreen==5.0.2
packaging==26.0
pacman_mirrors==5.3
perf==0.1
pexpect==4.9.0
pillow==12.1.1
pkg_resources==81.0.0
platformdirs==4.9.2
pluggy==1.6.0
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
Pygments==2.19.2
PyGObject==3.54.5
pyproject_hooks==1.2.0
pytest==8.4.2
pytz==2025.2
requests==2.32.5
requests-file==2.1.0
roman-numerals-py==3.1.0
scikit-build==0.18.1
setproctitle==1.3.7
setuptools==82.0.0
snowballstemmer==2.2.0
soupsieve==2.8.3
Sphinx==8.2.3
sphinx_rtd_theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
systemd-python==235
tldextract==5.3.1
tqdm==4.67.3
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.6.3
urwid==3.0.5
validate==5.0.9
vici==6.0.4
wcwidth==0.6.0
wheel==0.46.3
